<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<img alt="aaa" src="/picture/apache.jpg">
	<p th:text="${per.id}">Welcome to our grocery store!</p>
	<br />
	<p th:text="${per.name}">Welcome to our grocery store!</p>
	<br />
	<p th:text="${per.gender}">Welcome to our grocery store!</p>
	<br />
	<p th:text="${per.age}">Welcome to our grocery store!</p>
	<br />
	<p th:text="${per.address}">Welcome to our grocery store!</p>
	<br />
	<p th:text="${per.marital}">Welcome to our grocery store!</p>
	<br />
	<p th:text="${per.birth}">Welcome to our grocery store!</p>
	<br />
</body>
</html>